---
import "@styles/global.css"
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import Drawer from "@components/Drawer.astro"
import { SITE } from "@consts"
import { getLangFromUrl } from "@lib/i18n"

const { title, description, author, publishDate, tags } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={`${title} | ${SITE.TITLE}`} description={description} author={author} publishDate={publishDate} tags={tags} />
  </head>
  <body>
    <Header />
    <Drawer />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
